/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
.window-container {
    height: 100%;
}

.header-break {
    height: 54px;
}

.map-row {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;/*calc(100% - 54px);*/
}

/* Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: calc(100% - 54px);
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    height: calc(100% - 54px);
    margin-left: -350px;
}

#sidebar.active {
    margin-left: 0px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #fafafa;
}

.sidebar-content {
    padding: 10px;
    background: #fff;
}

.sidebar-content p {
    margin: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 10px;
}

#scroll-content{
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.tabs {
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
    margin-bottom: 10px;
}

#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tab-button li {
    display: table-cell;
    width: 20%;
}

#tab-button li a {
    display: block;
    padding: .5em;
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    text-decoration: none;
}

#tab-button li:not(:first-child) a {
    border-left: none;
}

#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #fff;
}

.tab-contents {
    padding: .5em 1em 1em;
    border: 1px solid #ddd;
}

/*.tab-button-outer {
    display: none;
}

.tab-contents {
    margin-top: 10px;
}*/

.tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
}

.tab-select-outer {
    display: none;
}

.tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
}
