{% extends "base_container.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block container_content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if isUpdate %}
                <legend class="border-bottom mb-4">{% trans "Update Post" %}</legend>
                {% else %}
                <legend class="border-bottom mb-4">{% trans "New Post" %}</legend>
                {% endif %}
                {% crispy form %}
            </fieldset>
        </form>
    </div>
{% endblock container_content %}
{% block scripts %}
<script>
{% if isUpdate %}
for (i = 2; i <= Math.min({{ numPics }} + 1, 4); i++) {
    $('#hide_div_image' + i).show();
}
{% endif %}

function showNextImage(num) {
    numStr = num.toString();
    image_id = '#id_image' + numStr;
    if ($(image_id).val() == '') {
        for (i = num + 1; i <= 4; i++) {
            {% if isUpdate %}if (i <= {{ numPics }} + 1) continue; {% endif %}
            nextNum = i.toString();
            $('#hide_div_image' + nextNum).hide();
            $('#id_image' + nextNum).val('');
        }
    } else {
        $('#hide_div_image' + (num + 1).toString()).show();
    }
}
</script>
{% endblock scripts %}
