{% extends "base_container.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block container_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans "New Post" %}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">{% trans "Post" %}</button>
            </div>
        </form>
    </div>
{% endblock container_content %}

