{% extends "base_container.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block container_content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ imageurl }}">
        <div class="media-body">
            <h2 class="account-heading">{{ view.kwargs.username }}</h2>
        </div>
    </div>

    {% include "rivermap/user_map_objects.html" %}

    <h4 class="mb-3">{% trans "Posts" %}:</h4>
    {% include "blog/posts_without_picture.html" %}

    <h4 class="mb-3">{% trans "Comments" %}:</h4>
    {% include "rivermap/comments_without_picture.html" %}

</div>
{% endblock container_content %}