{% extends "base_container.html" %}
{% load crispy_forms_tags %}
{% block container_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ river.id }}" name="river">
            <input type="hidden" value="{{ prefecture.slug }}" name="prefecture">
            <fieldset class="form-group">
                <div class="border-bottom mb-4">
                    <legend>New Section in {{ river.name }}</legend>
                    <h6>{{ prefecture.name }} ({{prefecture.region.name}})</h6>
                </div>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save Section</button>
            </div>
        </form>
    </div>
{% endblock container_content %}
