{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="window-container">
    <div class="header-break"></div>
    <div class="wrapper">
        <nav id="sidebar" style="height: 100%;">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

        </nav>
        <div id="content" style="height: 100%; width: 100%;">
            <div class="row map-row">
                <!--<div class="col-2"></div>-->
                <div id="map" class="col-10"></div>
                <div class="col-2">
                    <div class="content-section">
                        blabla
                        <div class="media">
                            blublu
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="riverinfo">
    If you see this message, something went wrong.
</div>

<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/init-map.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4FzVGy5foAnrj5soy0wTrRF2Htq_ZZdI&callback=initMap"></script>

{% endblock content %}