{% extends "base.html" %}
{% load static %}
{% block style_sheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <script src="https://kit.fontawesome.com/a62ff99483.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock style_sheets %}
{% block content %}

<div class="window-container">
    <div class="header-break"></div>
    <div class="wrapper">
        <nav id="sidebar" style="height: 100%;">
            <div id="dismiss">
                <i class="fas fa-times fa-2x"></i>
            </div>
            <div class="sidebar-header">
                <h2 id="sb-river-name">River Name</h2>
                <h5 id="sb-section-name">Section Name</h5>
            </div>
            <div id="scroll-content">
                <div class="sidebar-content">
                    <p id="sb-difficulty">Difficulty:</p>
                    <p id="sb-distance">Air Distance:</p>
                    <p id="sb-start">Start:</p>
                    <p id="sb-end">End:</p>

                    <div class="tabs">
                        <div class="tab-button-outer">
                            <ul id="tab-button">
                                <li><a href="#tab01">Water</a></li>
                                <li><a href="#tab02">Weather</a></li>
                            </ul>
                        </div>
                        <div class="tab-select-outer">
                            <select id="tab-select">
                                <option value="#tab01">Tab 1</option>
                                <option value="#tab02">Tab 2</option>
                            </select>
                        </div>

                        <div id="tab01" class="tab-contents">
                            <h2>Tab 1</h2>
                            <div id="sb-chart-div">
                                <canvas id="sb-chart"></canvas>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quos aliquam consequuntur, esse provident impedit minima porro! Laudantium laboriosam culpa quis fugiat ea, architecto velit ab, deserunt rem quibusdam voluptatum.</p>
                        </div>
                        <div id="tab02" class="tab-contents">
                            <h2>Tab 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quos aliquam consequuntur, esse provident impedit minima porro! Laudantium laboriosam culpa quis fugiat ea, architecto velit ab, deserunt rem quibusdam voluptatum.</p>
                        </div>
                    </div>

                    <div class="content-section" style="margin: 0;">
                        <a class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" href="#">Comment</a>
                        <h5 style="padding-top: 10px;">Comments:</h5>
                        <article class="media content-section" style="margin: 0; width: 100%;">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <img class="rounded-circle article-img" src="/media/default.jpg">
                                    <a class="mr-2" href="#">author</a>
                                    <small class="text-muted">Date</small>
                                </div>
                                <h2><a class="article-title" href="#">Title</a></h2>
                                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aspernatur cumque est exercitationem fugiat fugit ipsum itaque iusto labore molestias nulla, officia praesentium quidem recusandae soluta suscipit temporibus voluptate voluptatum.</p>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </nav>
        <div id="content" style="height: 100%; width: 100%;">
            <div class="row map-row">
                <!--<div class="col-2"></div>-->
                <div id="map" class="col-12"></div>
                <!--<div class="col-2">
                    <div class="content-section">
                        blabla
                        <div class="media">
                            blublu
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div id="riverinfo" style="margin: 0; padding: 5px;"></div>
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/init-map.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4FzVGy5foAnrj5soy0wTrRF2Htq_ZZdI&callback=initMap"></script>
{% endblock scripts %}