{% extends "base_container.html" %}
{% block container_content %}
    <div class="content-section">
        {% with rivers|first as river %}
        {% with river.prefecture.all as prefectures %}
        {% for prefecture in prefectures %}
        {% if prefecture.slug == view.kwargs.prefecture %}
        <div class="media-head">
            <h2 class="article-title">{{ prefecture }}</h2>
            <h5 class="article-title">{{ prefecture.region }}</h5>
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endwith %}

        {% include "pagination.html" %}

        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" href="{% url 'river-create' %}">New River</a>
        {% endif %}
        {% for river in rivers %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h3><a class="article-title" href="{% url 'river-detail' view.kwargs.prefecture river.id %}">{{ river }}</a></h3>
                        <small class="text-muted">{{ river.section }}</small>
                    </div>
                    <p class="article-content">Current level: {{ river.level }} ({{ river.date }})</p>
                </div>
            </article>
        {% endfor %}

        {% include "pagination.html" %}

    </div>
{% endblock container_content %}