{% extends "base_container.html" %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            <h2 class="article-title">{{ object.name }}</h2>
        </div>
        {% if river.section_set.count > 0 %}
        <div class="content-section">
            <div class="media-body">
                <h6>White Water sections ({{ river.section_set.count }}):</h6>
                {% for section in object.section_set.all %}
                    <small class="text-muted">{{ section.name }}</small>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="content-section">
            <div class="media-body">
                <h6>Prefectures ({{ river.prefecture.count }}):</h6>
                {% for prefecture in object.prefecture.all %}
                    <small class="text-muted">
                        <a href="{% url 'river-list' prefecture.slug %}">{{ prefecture.name }}</a>
                        ({{ prefecture.region.name }})
                    </small>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock container_content %}