{% extends "base_container.html" %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" href="{% url 'section-update' object.id %}">Edit</a>
            </form>
            {% endif %}
            <h2 class="article-title">{{ object.name }} ({{ object.river.name }})</h2>
            <h2 class="article-title">{{ object.prefecture }} ({{ object.region }})</h2>
        </div>
        <div class="content-section">
            <div class="media-body">
                {% if object.difficulty %}
                <p>Difficulty: {{ object.difficulty }}</p>
                {% endif %}
                {% if object.observatory %}
                <p>Observatory: {{ object.observatory }} (<a href="{{ object.observatory.url }}" target="blank">source</a>)</p>
                {% endif %}
                {% if object.dam %}
                <p>Dam: {{ object.dam }} (<a href="{{ object.dam.url }}" target="blank">source</a>)</p>
                {% endif %}
            </div>
        </div>
        <div class="content-section">
            <div class="media-body">
                <h6>Prefecture{{ river.prefecture.count|pluralize }} ({{ river.prefecture.count }}):</h6>
                {% for prefecture in object.prefecture.all %}
                    <small class="text-muted">
                        <a href="{% url 'river-list' prefecture.slug %}">{{ prefecture.name }}</a>
                        ({{ prefecture.region.name }})
                    </small>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock container_content %}