{% extends "base_container.html" %}
{% block container_content %}
    <div class="content-section">
        {% with sections|first as section %}
        <div class="media-head">
            <h2 class="article-title">Sections in {{ section.prefecture }}</h2>
            <h5 class="article-title">{{ section.region }}</h5>
        </div>
        {% endwith %}

        {% include "pagination.html" %}

        {% for section in sections %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h4><a class="article-title" href="{% url 'section-detail' view.kwargs.prefecture section.id %}">{{ section }}</a></h4>
                        <p class="text-muted">
                            <a href="{% url 'river-detail' section.river.id %}">{{ section.river }}</a>,
                            Added by {{ section.author }} on {{ section.date_added|date:"F d, Y" }}
                        </p>
                        {% if section.content %}
                        <p>{{ section.content }}</p>
                        {% endif %}
                    </div>
                    {% if section.observatory %}
                    <p class="article-content">Observatory: {{ section.observatory }} (Current Level: {{ section.observatory.level|default:"no data" }})</p>
                    {% endif %}
                    {% if section.dam %}
                    <p class="article-content">Dam: {{ section.dam }} (Current Level: {{ section.dam.level|default:"no data" }})</p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}

        {% include "pagination.html" %}

    </div>
{% endblock container_content %}