{% extends "base_container.html" %}
{% block container_content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <legend class="border-bottom mb-4">{% trans "Delete your Account?" %}</legend>
        <p>
            {% trans "Deleting your account cannot be reversed. All your posts and information will be deleted." %}
            {% trans "Are you sure you want to delete your account?" %}
        </p>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile' %}">{% trans "No" %}</a>
         <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'profile-delete-done' %}">{% trans "Delete" %}</a>
    </div>
{% endblock container_content %}

