{% extends "base_container.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block container_content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <div align="right">
                <a href="{% url 'profile-edit' %}">{% trans "Edit Account" %}</a>
            </div>
        </div>
    </div>

    {% include "rivermap/user_map_objects.html" %}

    {% include "blog/posts_without_picture.html" %}

    {% include "rivermap/comments_without_picture.html" %}

</div>
{% endblock container_content %}