{% extends "base_container.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block style_sheets %}
    <link rel="stylesheet" href="{% static 'css/map-small.css' %}">
{% endblock style_sheets %}
{% block container_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <input type="hidden" value="{{ river.id }}" name="river">
            <input type="hidden" value="{{ prefecture.slug }}" name="prefecture">
            <fieldset class="form-group">
                <div class="border-bottom mb-4">
                    <legend>{% blocktrans with pref=prefecture %}New Spot in {{ pref }}{% endblocktrans %}</legend>
                    <h6>{{ prefecture.region }}</h6>
                </div>
                {% crispy form %}

            </fieldset>
        </form>
    </div>
{% endblock container_content %}

{% block scripts %}
<script src="{% static 'js/init-map-small.js' %}"></script>
<script>setCoords({{ prefecture.lat }}, {{ prefecture.lng }}, {{ prefecture.zoom }}); setType(1)</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4FzVGy5foAnrj5soy0wTrRF2Htq_ZZdI&callback=initMap"></script>
{% endblock scripts %}
