{% extends "base_container.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            <h3 class="article-title">{{ object }}</h3>
            <h5 class="article-title">{{ object.region }}</h5>
        </div>
        <div class="media content-section">
            <div class="media-body">
                <h5 class="text-muted">
                    <a href="{% url 'river-list' object.slug %}">{% trans "Rivers:" %} {{ object.river_set.count }}</a>
                </h5>
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td class="py-1"><a href="#">{{ object.observatory_set.count }} {% trans "Observatories" %}</a></td>
                            <td class="py-1"><a href="#">{{ object.dam_set.count }} {% blocktrans count counter=object.dam_set.count %}Dam{% plural %}Dams{% endblocktrans %}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="media content-section">
            <div class="media-body">
                <h5 class="text-muted">
                    <a href="{% url 'section-list' prefecture.slug %}">{% blocktrans count counter=object.section_count %}Section:{% plural %}Sections:{% endblocktrans %} {{ object.section_count }}</a>
                </h5>
            </div>
        </div>
        <div class="media content-section">
            <div class="media-body">
                <h5 class="text-muted">
                    <a href="#">{% blocktrans count counter=object.spot_count %}Spot:{% plural %}Spots:{% endblocktrans %} {{ object.spot_count }}</a>
                </h5>
            </div>
        </div>
    </div>
{% endblock container_content %}