{% extends "base_container.html" %}
{% load i18n %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            <h3 class="article-title">{{ prefecture }}</h3>
            <h5 class="article-title">{{ prefecture.region }}</h5>
        </div>

        {% include "pagination.html" %}
        {% for river in rivers %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h5><a class="article-title" href="{% url 'river-detail' view.kwargs.prefecture river.id %}">{{ river }}</a></h5>
                    </div>
                    {% if river.section_set.count > 0 %}
                    <p class="article-content" style="margin: 0;">{{ river.section_set.count }} {% blocktrans count counter=river.section_set.count %}registered White Water Section{% plural %}registered White Water Sections{% endblocktrans %}</p>
                    {% endif %}{% if river.spot_set.count > 0 %}
                    <p class="article-content" style="margin: 0;">{{ river.spot_set.count }} {% blocktrans count counter=river.spot_set.count %}registered White Water Spot{% plural %}registered White Water Spots{% endblocktrans %}</p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}

        {% include "pagination.html" %}

    </div>
{% endblock container_content %}