{% extends "base_container.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            {% if object_type == 0 %}
            <h3 class="article-title">{% blocktrans with prefect=prefecture %}Sections in  {{ prefect }}{% endblocktrans %}</h3>
            {% elif object_type == 1 %}
            <h3 class="article-title">{% blocktrans with prefect=prefecture %}Spots in  {{ prefect }}{% endblocktrans %}</h3>
            {% endif %}
            <h5 class="article-title">{{ prefecture.region }}</h5>
        </div>

        {% include "pagination.html" %}

        {% for section in sections %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h5><a class="article-title" href="{% url detail_url view.kwargs.prefecture section.id %}">{{ section }}</a></h5>
                        <p class="text-muted">
                            <a href="{% url 'river-detail' view.kwargs.prefecture section.river.id %}">{{ section.river }}</a>,
                            {% if LANGUAGE_CODE == "ja" %}
                            {% blocktrans with author=section.author date=section.date_added|date:"Y年F d日" %}Added by {{ author }} on {{ date }}{% endblocktrans %}
                            {% else %}
                            {% blocktrans with author=section.author date=section.date_added|date:"F d, Y" %}Added by {{ author }} on {{ date }}{% endblocktrans %}
                            {% endif %}
                        </p>
                        {% if section.content %}
                        <p>{{ section.content }}</p>
                        {% endif %}
                    </div>
                    {% if section.observatory %}
                    <p class="article-content">{% trans "Observatory:" %} {{ section.observatory }} ({% trans "Current Level:" %} {{ section.observatory.level|default:"no data" }})</p>
                    {% endif %}
                    {% if section.dam %}
                    <p class="article-content">{% trans "Dam:" %} {{ section.dam }} ({% trans "Current Level:" %} {{ section.dam.level|default:"no data" }})</p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}

        {% if not sections %}
        <br/>
        {% if object_type == 0 %}
        <h6>{% blocktrans with prefect=prefecture %}There are no sections registered in {{ prefect }} yet. {% endblocktrans %}</h6>
        {% elif object_type == 1 %}
        <h6>{% blocktrans with prefect=prefecture %}There are no spots registered in {{ prefect }} yet. {% endblocktrans %}</h6>
        {% endif %}
        {% endif %}

        {% include "pagination.html" %}

    </div>
{% endblock container_content %}