{% extends "base_container.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% get_current_language as LANGUAGE_CODE %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            {% if object.author == user or user|has_group:"Super Paddler"%}
            <a class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" href="{% url edit_url object.id %}">{% trans "Edit" %}</a>
            {% endif %}
            {% if LANGUAGE_CODE == "ja" %}
            <h3 class="article-title">{{ object.name_jp }}&emsp;(<a href="{% url 'river-detail' object.prefecture.slug object.river.pk %}">{{ object.river.name_jp }}</a>)</h3>
            <h5 class="article-title">{{ object.prefecture }}&emsp;({{ object.region }})</h5>
            {% else %}
            <h3 class="article-title">{{ object.name }}&emsp;(<a href="{% url 'river-detail' object.prefecture.slug object.river.pk %}">{{ object.river.name }}</a>)</h3>
            <h5 class="article-title"><b><a href="{% url 'prefecture-detail' object.prefecture.slug %}">{{ object.prefecture }}</a></b>&emsp;({{ object.region }})</h5>
            {% endif %}<br/>
            <p>{{ object.content|safe }}</p>
        </div>
        <div class="content-section">
            <div class="media-body compact-p">
                {% if object.difficulty %}
                <p>{% trans "Difficulty:" %} {{ object.difficulty }}</p>
                {% endif %}
                {% if object_type == 0 %}
                <p>{% trans "Distance:" %} {{ distance|floatformat:5 }} km</p>
                <p>{% trans "Start:" %} <a href="https://www.google.com/maps/search/?api=1&query={{object.lat}},{{object.lng}}" target="_blank">{{ object.lat }}, {{ object.lng }}</a>&emsp;
                {% trans "End:" %} <a href="https://www.google.com/maps/search/?api=1&query={{object.end_lat}},{{object.end_lng}}" target="_blank">{{ object.end_lat }}, {{ object.end_lng }}</a></p>
                {% elif object_type == 1 %}
                <p>{% trans "Location:" %} <a href="https://www.google.com/maps/search/?api=1&query={{object.lat}},{{object.lng}}" target="_blank">{{ object.lat }}, {{ object.lng }}</a></p>
                {% endif %}
                {% if object.dam %}
                <p>{% trans "Dam:" %} {{ object.dam }} (<a href="{{ object.dam.url }}" target="blank">source</a>)</p>
                {% endif %}
            </div>
        </div>
        {% if object.observatory or object.dam %}
        <div class="content-section compact-p">
            <h3 style="margin: 0;">{% trans "Water Level" %}</h3>
            <button class="btn btn-link nav-link" style="float: left;" onclick="loadChart(0, 'chart', 168)">{% trans "1w" %}</button>
            <button class="btn btn-link nav-link" style="float: left;" onclick="loadChart(0, 'chart', 48)">{% trans "2d" %}</button>
            <button class="btn btn-link nav-link" style="float: left;" onclick="loadChart(0, 'chart', 24)">{% trans "1d" %}</button>
            <button class="btn btn-link nav-link" onclick="loadChart(0, 'chart', 12)">{% trans "12h" %}</button>
            <div id="chart-div" style="height: 300px;">
                <canvas id="chart"></canvas>
            </div>
            {% if object.dam %}
            <p id="sb-level">{% trans "Current Level:" %} {{ object.dam.level }} &#13221;/s</p>
            <p id="sb-observatory">{% trans "Dam:" %} <a href="{{ object.observatory.url }}" target="_blank">{{ object.dam }}</a></p>
            <p id="sb-updated">{% trans "Updated:" %} {{ object.dam.date }}</p>
            {% else %}
            <p id="sb-level">{% trans "Current Level:" %} {{ object.observatory.level }} m</p>
            <p id="sb-observatory">{% trans "Observatory:" %} <a href="{{ object.observatory.url }}" target="_blank">{{ object.observatory }}</a></p>
            <p id="sb-updated">{% trans "Updated:" %} {{ object.observatory.date }}</p>
            {% endif %}
            <table class="table mb-0">
                <tbody>
                    <tr>
                        {% if object.low_water %}<td id="sb-lw" class="lw-color" style="padding: 0;"><b>{% trans "LW" %}: {{ object.low_water }}{% if object.dam %} &#13221;/s{% else %} m{% endif %}</b></td>{% endif %}
                        {% if object.middle_water %}<td id="sb-mw" class="mw-color" style="padding: 0;"><b>{% trans "MW" %}: {{ object.middle_water }}{% if object.dam %} &#13221;/s{% else %} m{% endif %}</b></td>{% endif %}
                        {% if object.high_water %}<td id="sb-hw" class="hw-color" style="padding: 0;"><b>{% trans "HW" %}: {{ object.high_water }}{% if object.dam %} &#13221;/s{% else %} m{% endif %}</b></td>{% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <buton id="sb-new-comment" class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" onclick="newComment()">{% trans "Comment" %}</buton>
        <h5 style="padding-top: 10px;">{% trans "Comments:" %}</h5>
        <form id="sb-comment-form" method="POST" style="display: none;">
            {% csrf_token %}
            {% if object_type == 0 %}
            <input id="object_type" type="hidden" value="section" name="section">
            {% elif object_type == 1 %}
            <input id="object_type" type="hidden" value="spot" name="section">
            {% endif %}
            <input id="id_section" type="hidden" value="{{ object.id }}" name="section">
            {% crispy form %}
        </form>
        {% else %}
        <small style="float: right;"><a href="{% url 'login' %}">{%trans "Log in</a></br>to comment" %}</small>
        <h5 style="padding-top: 10px;">{% trans "Comments:" %}</h5>
        {% endif %}
        <div id="sb-comments">
        {% if object.mapobjectcomment_set.all %}
        {% for comment in object.mapobjectcomment_set.all reversed %}
        <article class="media content-section" style="margin-top: 10px; width: 100%;">
            <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
                    {% if LANGUAGE_CODE == "ja" %}
                        <small class="text-muted">{{ comment.date_posted|date:"Y年F d日" }}</small>
                    {% else %}
                        <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                    {% endif %}
                   </div>
                <h2><a class="article-title" href="#">{{ comment.title }}</a></h2>
                <p class="article-content">{{ comment.content }}</p>
            </div>
        </article>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock container_content %}

{% block scripts %}
<script src="{% static 'lib/js/chart-2.9.3.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% if object.dam %}<script>
    var section = {
            "high_water": {{ object.high_water|default:'""' }},
            "middle_water": {{ object.middle_water|default:'""' }},
            "low_water": {{ object.low_water|default:'""' }},
            "dam_id": {{ object.dam.id }}
        }
    loadChart(section, 'chart', 48);
</script>{% elif object.observatory %}<script>
    var section = {
            "high_water": {{ object.high_water|default:'""' }},
            "middle_water": {{ object.middle_water|default:'""' }},
            "low_water": {{ object.low_water|default:'""' }},
            "observatory_id": {{ object.observatory.id }}
        }
    loadChart(section, 'chart', 24);
</script>{% endif %}
<script src="{% static 'js/comment.js' %}"></script>
<script>setUrl('{{ request.path }}');</script>
{% endblock scripts %}
