{% extends "base_container.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            {% if user.is_authenticated %}
            {% if view.kwargs.prefecture %}
            <form method="POST" action="{% url 'add-object' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ object.id }}" name="river">
                <input type="hidden" value="{{ prefecture.slug }}" name="prefecture">
                <input type="hidden" value="1" name="object_type">
                <button class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" name="add_object" type="submit">{% trans "Add Section" %}</button>
            </form>
            {% endif %}
            {% endif %}
            <h3 class="article-title">{{ object }}</h3>
            <h5 class="article-title">{{ prefecture }}</h5>
        </div>
        <div class="content-section">
            <div class="media-body">
                <h6>{% blocktrans count counter=river.prefecture.count %}Prefecture{% plural %}Prefectures{% endblocktrans %} ({{ river.prefecture.count }}):</h6>
                {% for prefecture in object.prefecture.all %}
                {% if LANGUAGE_CODE == "en" %}
                    <small class="text-muted">
                        <a href="{% url 'river-list' prefecture.slug %}">{{ prefecture.name }}</a>
                        ({{ prefecture.region.name }})
                    </small>
                {% else %}
                    <small class="text-muted">
                        <a href="{% url 'river-list' prefecture.slug %}">{{ prefecture }}</a>
                        ({{ prefecture.region }})
                    </small>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if river.section_set.count > 0 %}
        <div class="content-section">
            <div class="media-body">
                <h6>{% blocktrans count counter=river.section_set.count %}White Water section{% plural %}White Water sections{% endblocktrans %} ({{ river.section_set.count }}):</h6>
                {% for section in object.section_set.all %}
                    <small class="text-muted"><a href="{% url 'section-detail' view.kwargs.prefecture section.id %}">{{ section }}</a></br></small>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock container_content %}
