{% extends "base_container.html" %}
{% load i18n %}
{% block container_content %}
    <div class="content-section">
        <div class="media-head">
            <h3 class="article-title">{{ prefecture }}</h3>
            <h5 class="article-title">{{ prefecture.region }}</h5>
        </div>

        {% include "pagination.html" %}

        <!--{% if user.is_authenticated %}
            <a class="btn btn-primary btn-sm mt-1 mb-4" style="float: right;" href="{% url 'river-create' %}">New River</a>
        {% endif %}-->
        {% for river in rivers %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h5><a class="article-title" href="{% url 'river-detail' view.kwargs.prefecture river.id %}">{{ river }}</a></h5>
                    </div>
                    <p class="article-content">{{ river.section_set.count }} {% blocktrans count counter=river.section_set.count %}registered White Water section{% plural %}registered White Water sections{% endblocktrans %}</p>
                </div>
            </article>
        {% endfor %}

        {% include "pagination.html" %}

    </div>
{% endblock container_content %}